*{
    margin: 0;
    padding: 0;
    background-color: #f9eac3;
}

.tudo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 15px;
}

.parent {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    }
    
.div1 {
    grid-area: 1 / 1 / 2 / 2; 
}

.div2 {
     grid-area: 1 / 2 / 2 / 3; 
}

.div3 { 
    grid-area: 2 / 1 / 3 / 2;
 }

.div4 {
     grid-area: 2 / 2 / 3 / 3;
 }

.tudo2{
    margin-bottom: 100px;
}

.nome{ 
    margin-bottom: 40px;
}

.info_2{ 
    margin-bottom: 10px;
}

.foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.borda{
    border: 2px solid rgb(61, 28, 28);
    padding: 15px;
    border-radius: 10px;
}

@media(max-width:900px){
    .parent{
        display: contents;
    }
}